.blog {
  padding: 70px 0 125px;
  background: #f1f1f1 url('../img/bg-blog.jpg') 50% 50% no-repeat;
  background-size: cover;
  @media (max-width: $breakpoint-medium) {
    padding: 46px 0 116px;
  }
}

.blog__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  grid-column-gap: 125px;
  grid-row-gap: 50px;
  margin-bottom: 30px;
  @media (max-width: $breakpoint-medium) {
    grid-template-columns: 100%;
  }
}

.blog__text {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 1.25;
}

.blog__instructions {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 120px);
  justify-content: center;
  grid-column-gap: 80px;
  padding-bottom: 30px;
}

.blog__learnmore {
  @include reset-link;
  padding: 10px 0;
  border-left: 1px solid #515151;
  &:hover {
    .blog__learnmore-icon {
      transform: rotateX(360deg);
      transition: transform 0.5s;
    }
  }
}

.blog__learnmore-icon {
  fill: #672aa0;
  transform-origin: 0 50%;
  transition: transform 0.5s;
}

.blog__learnmore-text {
  margin-left: 5px;
  color: #672aa0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.blog__free-wrapper {
  position: relative;
  padding-top: 30px;
  text-align: center;
  overflow: hidden;
}

.blog__free-border-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: #666;
}

.blog__free-border-right {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 1px;
  background-color: #666;
}

.blog__free-arrow {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 16px;
  height: 16px;
  background: linear-gradient(-45deg, #4e4e4e 50%, transparent 50%) 50% 50% no-repeat;
  background-size: cover;
}

.blog__free {
  display: inline-block;
  color: #202020;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  &:hover {
    color: #672aa0;
  }
}

.blog__slider-arrow {
  display: none;
  position: absolute;
  top: 40px;
  &::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border-left: 5px solid rgba(0,0,0,0.5);
    border-bottom: 5px solid rgba(0,0,0,0.5);
  }
  &--left {
    left: 0;
    &::before {
      transform: rotate(45deg);
    }
  }
  &--right {
    right: 0;
    &::before {
      transform: rotate(225deg);
    }
  }
  @media (max-width: $breakpoint-small) {
    display: block;
  }
}
