.blog-item__book {
  margin-bottom: 10px;
}

.blog-item__title {
  margin-bottom: 20px;
  color: #232323;
  font-size: 15px;
  font-weight: 700;
}

.blog-item__price {
  margin-bottom: 15px;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}
