.callback {
  width: 500px;
  box-sizing: border-box;
  padding: 100px 80px 215px;
  background: #fff url('../../img/bg-callback.png') 100% 100% no-repeat;
  background-size: auto;
  @media (max-width: $breakpoint-small) {
    padding: 100px 25px 150px;
  }
}

.callback__close-btn {
  top: 10px;
  right: 10px;
}
