.contacts-form__row {
  display: flex;
  margin-bottom: 20px;
}

.contacts-form__icon {
  width: 54px;
  min-width: 54px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #2f2f2f;
  border-left: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
}

.contacts-form__input {
  width: calc(100% - 54px);
  height: 46px;
  border: 1px solid #2f2f2f;
  box-shadow: none;
  &:focus {
    border-color: #2f2f2f;
  }
}

.contacts-form__policy {
  margin-top: 15px;
  line-height: 1.3;
}
