.design-item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  &_type-1 {
    &::before {
      background: url('../img/bg-design-1.png') 50% 50% no-repeat;
      background-size: cover;
    }
  }
  &_type-2 {
    &::before {
      background: url('../img/bg-design-2.png') 50% 50% no-repeat;
      background-size: cover;
    }
  }
  &_type-3 {
    &::before {
      background: url('../img/bg-design-3.png') 50% 50% no-repeat;
      background-size: cover;
    }
  }
  &:hover {
    .design-item__examples-btn {
      opacity: 1;
      transition: opacity 0.25s;
    }
  }
}

.design-item__image-wrapper {
  height: 225px;
  @media (max-width: $breakpoint-medium) {
    height: 148px;
  }
  @media (max-width: $breakpoint-small) {
    height: 175px;
  }
}

.design-item__examples-btn {
  @include reset-btn;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 225px;
  color: #fbf6f6;
  font-size: 15px;
  text-transform: uppercase;
  background-color: rgba(11, 11, 11, 0.85);
  opacity: 0;
  transition: opacity 0.25s;
  cursor: pointer;
  @media (max-width: $breakpoint-medium) {
    height: 148px;
  }
  @media (max-width: $breakpoint-small) {
    height: 175px;
  }
}

.design-item__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 35px 50px 48px;
  background-color: #0b0b0b;
  @media (max-width: $breakpoint-medium) {
    padding: 27px 20px 48px;
  }
}

.design-item__content-text {
  position: relative;
  z-index: 2;
  text-align: center;
}

.design-item__title {
  margin-bottom: 6px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.design-item__desc {
  color: #a8a8a8;
  font-size: 14px;
}

.design-item__bonus {
  text-align: center;
  color: #34e0d2;
  line-height: 1;
}

.design-item__bonus-text-gift {
  text-transform: uppercase;
}

.design-item__price {
  margin-top: 27px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.design-item__button {
  z-index: 2;
  min-width: 166px;
  margin-top: 30px;
  @media (max-width: $breakpoint-medium) {
    min-width: auto;
    width: 100%;
    max-width: 166px;
  }
}
