.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 650px;
  padding-bottom: 120px;
  background: #4959a9 linear-gradient(-30deg, #00cec0 0%, #672aa0 99%) 0% 50% no-repeat;
  background-size: 200% 100%;
  overflow: hidden;
  animation: 10s ease-out infinite blinking;
  @media (max-width: $breakpoint-medium) {
    min-height: 510px;
    padding-bottom: 50px;
  }
  @media (max-width: $breakpoint-small) {
    min-height: 363px;
    padding-bottom: 55px;
  }
}

.intro__title {
  position: relative;
  z-index: 5;
  margin-bottom: 40px;
  color: #fff;
  font-size: 55px;
  font-weight: 800;
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 30px;
    font-size: 36px;
  }
  @media (max-width: $breakpoint-small) {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1;
  }
}

.intro__social-list {
  @include reset-list;
  position: relative;
  z-index: 5;
  display: flex;
  margin: 0 -3px;
}

.intro__social-item {
  width: 45px;
  height: 45px;
  margin: 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.2) url('../img/social.svg') 13px 315px no-repeat;
  &:nth-child(1) {
    animation: 2s ease-out social-1 forwards;
  }
  &:nth-child(2) {
      animation: 2s ease-out 0.5s social-2 forwards;
  }
  &:nth-child(3) {
    animation: 3s ease-out 1s social-3 forwards;
  }
  &:nth-child(4) {
    animation: 3s ease-out 1.5s social-4 forwards;
  }
}

@keyframes social-1 {
  100% {
    background-position-y: -167px;
  }
}

@keyframes social-2 {
  100% {
    background-position-y: -210px;
  }
}

@keyframes social-3 {
  100% {
    background-position-y: -257px;
  }
}

@keyframes social-4 {
  100% {
    background-position-y: -300px;
  }
}

.intro__parallax-scene {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.intro__line-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 38.7%;
  @media (max-width: $breakpoint-medium) {
    width: 57.7%
  }
  @media (max-width: $breakpoint-small) {
    display: none;
  }
}

.intro__line-2 {
  position: absolute;
  right: -4%;
  bottom: 0;
  z-index: 2;
  width: 32%;
  @media (max-width: $breakpoint-medium) {
    width: 57%;
  }
  @media (max-width: $breakpoint-small) {
    display: none;
  }
}

.intro__figure-1 {
  position: absolute;
  bottom: 0;
  left: -3%;
  z-index: 1;
  width: 20.5%;
  animation: 7s ease infinite alternate floating-horizontal;
  @media (max-width: $breakpoint-medium) {
    width: 30.5%;
  }
  @media (max-width: $breakpoint-small) {
    width: 58%;
    left: -14%;
  }
}

.intro__figure-2 {
  position: absolute;
  top: 0;
  left: 28%;
  z-index: 1;
  width: 31%;
  animation: 8s ease 1s infinite alternate floating-horizontal;
  @media (max-width: $breakpoint-medium) {
    left: 29%;
    width: 45%;
  }
  @media (max-width: $breakpoint-small) {
    left: 5%;
    width: 82%;
  }
}

.intro__figure-3 {
  position: absolute;
  right: -2%;
  bottom: 0;
  z-index: 1;
  width: 26.55%;
  animation: 10s ease 2s infinite alternate floating-horizontal;
  @media (max-width: $breakpoint-xlarge) {
    right: -9%;
    height: auto;
  }
  @media (max-width: $breakpoint-medium) {
    right: -13%;
    width: 38.55%;
  }
  @media (max-width: $breakpoint-small) {
    right: -55%;
    width: 74%;
  }
}

.intro__semicircle-1 {
  position: absolute;
  top: -2%;
  left: 0;
  z-index: 2;
  width: 96px;
  height: 192px;
  @media (max-width: $breakpoint-medium) {
    display: none;
  }
}

.intro__semicircle-2 {
  position: absolute;
  left: 57%;
  bottom: 0;
  z-index: 2;
  width: 192px;
  height: 97px;
  @media (max-width: $breakpoint-medium) {
    left: 60%;
  }
  @media (max-width: $breakpoint-small) {
    left: 64%;
    width: 100px;
    height: 50px;
  }
}

.intro__stick-1 {
  position: absolute;
  top: -4% !important;
  left: 2.5% !important;
  z-index: 2;
  width: 111px;
  height: 111px;
  fill: #fe4c8e;
  @media (max-width: $breakpoint-medium) {
    display: none !important;
  }
}

.intro__stick-2 {
  position: absolute;
  top: 53% !important;
  left: 1.5% !important;
  z-index: 2;
  width: 111px;
  height: 111px;
  fill: #fff;
  @media (max-width: $breakpoint-medium) {
      display: none !important;
  }
}

.intro__stick-3 {
  position: absolute;
  top: 45.9% !important;
  left: 82.3% !important;
  z-index: 2;
  width: 111px;
  height: 111px;
  fill: #fe4c8e;
  @media (max-width: $breakpoint-medium) {
      display: none !important;
  }
}

.intro__stick-4 {
  position: absolute;
  top: 49% !important;
  left: 95.5% !important;
  z-index: 2;
  width: 111px;
  height: 111px;
  fill: #fff;
  @media (max-width: $breakpoint-medium) {
    display: none !important;
  }
}

.intro__circle-1 {
  position: absolute;
  top: 80% !important;
  left: 9% !important;
  z-index: 2;
  width: 102px;
  height: 102px;
  fill: #07b1f3;
  @media (max-width: $breakpoint-medium) {
    display: none !important;
  }
}

.intro__circle-2 {
  position: absolute;
  top: -7% !important;
  left: 36.5% !important;
  z-index: 2;
  width: 102px;
  height: 102px;
  fill: #07b1f3;
  @media (max-width: $breakpoint-medium) {
    top: -12% !important;
    left: 25.5% !important;
  }
  @media (max-width: $breakpoint-small) {
    display: none !important;
  }
}

.intro__circle-3 {
  position: absolute;
  top: 10% !important;
  left: 81.6% !important;
  z-index: 2;
  width: 102px;
  height: 102px;
  fill:  #fe4c8e;
  @media (max-width: $breakpoint-medium) {
    display: none !important;
  }
}

.intro__ring-1 {
  position: absolute;
  top: 76% !important;
  left: 6.9% !important;
  z-index: 3;
  width: 64px;
  height: 64px;
  @media (max-width: $breakpoint-medium) {
    display: none !important;
  }
}

.intro__ring-2 {
  position: absolute;
  top: 57% !important;
  left: 13.7% !important;
  z-index: 3;
  width: 28px;
  height: 28px;
  @media (max-width: $breakpoint-medium) {
    top: 38% !important;
    left: 12.7% !important;
    width: 40px;
    height: 40px;
  }
  @media (max-width: $breakpoint-small) {
    top: 21% !important;
    left: 14% !important;
    width: 30px;
    height: 30px;
  }
}

.intro__ring-3 {
  position: absolute;
  top: 28.6% !important;
  left: 38.8% !important;
  z-index: 3;
  width: 28px;
  height: 28px;
  @media (max-width: $breakpoint-medium) {
    top: 90.6% !important;
    left: 49.8% !important;
    width: 40px;
    height: 40px;
  }
  @media (max-width: $breakpoint-small) {
    top: 88% !important;
    left: 31% !important;
    width: 30px;
    height: 30px;
  }
}

.intro__ring-4 {
  position: absolute;
  top: 51.5% !important;
  left: 80.1% !important;
  z-index: 3;
  width: 28px;
  height: 28px;
  @media (max-width: $breakpoint-medium) {
    top: 28.5% !important;
    left: 88.1% !important;
    width: 40px;
    height: 40px;
  }
  @media (max-width: $breakpoint-small) {
    width: 30px;
    height: 30px;
    top: 38% !important;
    left: 76% !important;
  }
}

.intro__ring-5 {
  position: absolute;
  top: 5% !important;
  left: 84.0% !important;
  z-index: 3;
  width: 64px;
  height: 64px;
  @media (max-width: $breakpoint-medium) {
    display: none !important;
  }
}

.intro__rectangle-1-wrapper {
  position: absolute;
  top: 21% !important;
  left: 14% !important;
  z-index: 3;
  @media (max-width: $breakpoint-medium) {
    display: none !important;
  }
}

.intro__rectangle-1 {
  width: 64px;
  height: 66px;
  color: #07b1f3;
}

.intro__rectangle-2-wrapper {
  position: absolute;
  top: 40% !important;
  left: 57% !important;
  z-index: 3;
  @media (max-width: $breakpoint-medium) {
    top: 38% !important;
    left: 42% !important;
  }
  @media (max-width: $breakpoint-small) {
    top: 29% !important;
    left: 30% !important;
  }
}

.intro__rectangle-2 {
  width: 64px;
  height: 66px;
  color: #fe4c8e;
  transform: rotate(-57deg);
  @media (max-width: $breakpoint-small) {
    width: 35px;
    height: 35px;
  }
}

.intro__rectangle-3-wrapper {
  position: absolute;
  top: 78% !important;
  left: 90% !important;
  z-index: 3;
  @media (max-width: $breakpoint-medium) {
    top: 48% !important;
    right: 3% !important;
  }
  @media (max-width: $breakpoint-small) {
    top: 11% !important;
    left: 59% !important;
  }
}

.intro__rectangle-3 {
  width: 64px;
  height: 66px;
  color: #07b1f3;
  transform: rotate(-38deg);
  @media (max-width: $breakpoint-small) {
    width: 35px;
    height: 35px;
  }
}
