.main-header {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 10;
  width: 100%;
  @media (max-width: $breakpoint-medium) {
    top: 35px;
  }
  @media (max-width: $breakpoint-small) {
    top: 10px;
  }
}

.main-header__logo-wrapper {
  @include reset-link;
  display: block;
  width: 170px;
  min-width: 170px;
  margin-right: 210px;
  margin-bottom: 30px;
  @media (max-width: $breakpoint-medium) {
    margin: 0 0 18px 0;
  }
  @media (max-width: $breakpoint-small) {
    width: 145px;
    min-width: 145px;
    margin: 0;
  }
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-header__main-nav {
  margin-right: 50px;
  margin-bottom: 30px;
  @media (max-width: $breakpoint-large) {
    order: 3;
    width: 100%;
    margin-right: 0;
  }
}

.main-header__feedback-btn {
  margin-bottom: 30px;
  @media (max-width: $breakpoint-large) {
    order: 2;
  }
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 18px;
  }
  @media (max-width: $breakpoint-small) {
    display: none;
  }
}
